.para{
    background-color: bisque;
    border: 5px solid brown;
    padding: 1rem;
    margin-bottom: 45px;
}
.parag{
    background-color: beige;
    border: 5px solid goldenrod;
    padding: 1rem;
    margin-top: 45px;
}
.pra{
    background-color: darkseagreen;
    border: 10px solid greenyellow;
    padding: 1rem;
    margin-bottom: 35px;
}
.prag{
    background-color: skyblue;
    border: 10px solid blue;
    padding: 1rem;
    margin-top: 65px;
}